@import './FigmaIcons';

* {
	-webkit-font-smoothing: antialiased;
	user-select: none;
	cursor: default;
}

button.button {
	height: 30px;
	line-height: 28px;
	max-width: 180px;
	padding: 0 11px;
	color: #444;
	font-weight: 400;
	background-color: transparent;
	box-sizing: border-box;
	border: 1px solid #d4d4d4;
	border-radius: 3px;
	min-width: 66px;
	&:active {
		background-color: rgba(0, 0, 0, 0.1);
	}
	&:disabled {
		color: #d4d4d4;
		background-color: transparent;
		border: 1px solid #d4d4d4;
	}
	&.primary {
		background: #30c2ff;
		color: #fff;
		border: 1px solid #30c2ff;
		&:active {
			background-color: #30afe6;
		}
	}
}

.top-bar-button {
	width: 42px;
	height: 42px;
	display: flex;
	align-items: center;
	justify-content: center;
	&.active {
		background: #30c2ff;
	}
	&:hover {
		background-color: #050505;
	}
}

.v--modal-overlay {
	height: 0 !important;
	width: 0 !important;
}

.overlay-fade-enter-active,
.overlay-fade-leave-active {
	transition: all 0s !important;
}

.modal,
.v--modal.v--modal-box {
	-webkit-font-smoothing: antialiased;
	user-select: none;
	cursor: default;
	box-shadow: 0 0 0.5px 0.5px rgba(0, 0, 0, 0.2), 0 2px 14px rgba(0, 0, 0, 0.15);
	overflow: hidden;
	background: #fcfcfc;
}

.modal-header {
	font: normal normal 400 12px/18px Roboto, sans-serif;
	height: 36px;
	background: #2c2c2c;
	color: #fff;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;
	padding-left: 12px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	.modal-close-button {
		font-family: 'FigmaIcons';
		color: #fff;
		height: 36px;
		width: 36px;
		opacity: 0.3;
		display: flex;
		align-items: center;
		justify-content: center;
		&::after {
			content: '\103';
			font-size: 10px;
		}
		&:hover {
			opacity: 1;
		}
	}
	&.header-large {
		height: 48px;
		line-height: 48px;
		.modal-close-button {
			height: 48px;
			width: 48px;
		}
	}
}

.modal-tabs {
	display: flex;
}

.modal-tab {
	font: normal normal 400 14px/20px Roboto, sans-serif;
	padding: 0 12px;
	color: #fff;
	align-items: center;
	opacity: 0.5;
	&.active-tab {
		opacity: 1;
	}
}

.modal-header-title {
	font-size: 12px;
	letter-spacing: 0.2px;
	line-height: 36px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 12px;
	margin-right: 36px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	width: calc(100% - 60px);
}

.modal-content {
	position: relative;
}

.search-box {
	height: 48px;
	border-bottom: 1px solid #d4d4d4;
	display: flex;
	box-align: center;
	align-items: center;
	.figma-icon.search {
		margin-left: 24px;
		height: 12px;
		width: 12px;
	}
	input {
		cursor: text;
		background: none;
		height: 32px;
		width: 100%;
		margin-left: 10px;
		&::placeholder {
			color: #aaa;
		}
	}
}

.no-search-results-message {
	color: #aaa;
	padding: 24px 24px 0;
}

.empty-state {
	font-size: 14px;
	display: flex;
	align-items: center;
	justify-content: center;
}
